.App {
  text-align: center;
  margin: 2rem;
}


.textbox{
  width: 50%;
  height: 2rem;
}

.countries-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.countryCard{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin: 1rem;
}